body{
    display: flex;
    justify-content: center;
}
.game{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px double rgb(235, 39, 39);
    border-radius: 10px;
}
.menu{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: aqua;
    height: 105px;
    width: 500px;
    margin: 10px;
    padding: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
h2, p, h1{
    display: inline-flex;
    margin: 0px;
}
.gameDisplay{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 500px;
    height: 500px;
}
.color{
    background-color: black;
    width: 32%;
    height: 32%;
    border-radius: 10px;
}
.color:hover{
    cursor: pointer;
    background-color: black;
    width: 32%;
    height: 32%;
    border-radius: 10px;
}
.escolha{
    display: inline-block;
    background-color: bisque;
    width: 50px;
    height: 30px;
}
.controles{
    border-radius: 10px;
    margin: 5px;
}